<div class="examples-container">
  <% @examples.each do |example| %>
    <div class="row example-row">
      <div class="small-7 columns truncate-ellipsis"><%= example.name %></div>
      <div class="small-4 columns truncate-ellipsis"><%= example.file %></div>
      <div class="small-1 columns"><%= example.run_time.round(1) %></div>
    </div>
  <% end %>
</div>
